# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
bin/
obj/
Debug/
Release/
x64/
*.log

# Build results
*.exe
*.dll
*.pdb
*.ilk

# Certificates
*.crt
*.key
*.pem

# Uploads folder
uploads/
downloads/

# Libraries 
lib/*.lib
lib/*.dll